@keyframes slideLeft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: rotateY(90deg);
  }
}

.slideLeft {
  animation: slideLeft 1s ease-out;
}

.slideRight {
  animation: slideRight 1s ease-out;
}
