@keyframes leftToRight {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(50%);
  }
}

.left {
  animation: leftToRight 10s linear infinite;
}

.right {
  animation: rightToLeft 10s linear infinite;
}
